/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Intro */
.intro-title {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  margin-left: 500px;
  font-family: "Amatic SC", cursive;
}

.container {
  font-size: 30px;
  font-weight: bold;

  font-family: "Amatic SC", cursive;
}
/* Main-content */
.content-piece {
  position: static;
}
.main-content-title {
  position: relative;
  font-size: 50px;
  font-weight: bold;
  margin-left: 500px;
  font-family: "Amatic SC", cursive;
}
.content-image {
  position: absolute;
  width: 20px;
  height: 30px;
  overflow: hidden;
}
.content-image img {
  width: 75%;
  height: 50%;
  object-fit: cover;
}
.content-title {
  position: relative;
  font-size: 20px;
  margin: 48px 0 0 0;
  font-family: "Amatic SC", cursive;
}

.content-title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 50px;
  height: 10px;
  transform: translateX(-50%);
  background: #1e272e;
}
.content-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Splash */
.splash {
  height: 100vh;
  position: relative;
  background-image: url("https://images.pexels.com/photos/383568/pexels-photo-383568.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.splash-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-title {
  color: #2d3436;
  font-size: 50px;
  margin-left: 600px;
  margin-right: 200px;
  padding: 20px;
  border: 20px black;
  position: relative;
  font-family: "Amatic SC", cursive;
}

.page-title::after {
  position: absolute;
  bottom: -24px;
  left: 50%;
  width: 100px;
  height: 10px;
  transform: translateX(-50%);
  background: #1e272e;
}

.page-subtitle {
  color: #2c3e50;
  font-size: 40px;
  margin-left: 650px;
  margin-right: 200px;
  font-family: "Amatic SC", cursive;
}
.btn {
  display: inline-block;
  min-width: 160px;
  margin-left: 625px;
  padding: 16px;
  border-radius: 5px;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}
.btn:hover {
  background-position: 0 100%;
  color: black;
}
