/* Global */
$font-family-base: sans-serif;
$line-height-base: 1;
h1 {
  color: green;
}
h2 {
  border: 10px yellowgreen;
  padding: 20px;
}
.poem-title {
  font-size: 30px;
  margin-left: 10px;
}
.poem-author {
  font-size: 20px;
  color: navy;
  margin-left: 30px;
}
